@inherits ServiceStack.Razor.ViewPage<WebTest.Article>

@{
    Layout = "Default";
}

    <div>
        <h1>
            <a href="/article/id/@(Model.Id.ToString().Replace("-","")+".html")">@Model.Title</a>
        </h1>
		<p>@Model.AuthorName, @Model.Created, [@Model.CategoryString()]</p>
    <p>
      @Html.Raw(Model.ContentHtml())
    </p>
        @if (Model.Comment != null)
        {
            foreach (WebTest.Comment c in Model.Comment)
            {
                <p>@c.Content</p>
            }
        }
	</div>
