@inherits ServiceStack.Razor.ViewPage<WebTest.Article>

@{
    Layout = "Default";
    WebTest.Configuration config = WebTest.Configuration.Load();
}
<script>
    function post_comment(article_id) {
        var comment = { "ArticleId": article_id, "Name": $('#comment_name').val(), "Content": $('#comment_text').val() };
        $.ajax({
            type: "PUT",
            url: "/comment",// + article.Title,// + "?format=json",
            contentType: 'application/json',
            data: JSON.stringify(comment),
            processData: false,
            success: function (r) {
                location.reload();
            },
            error: function (r) {
                alert("error");
            }
        });
    }
</script>
    <div>
        <h1>
            <a href="/article/id/@(Model.Id.ToString().Replace("-","")+".html")">@Model.Title</a>
        </h1>
		<p>@Model.AuthorName, @Model.Created, [@Model.CategoryString()]</p>
    <p>
      @Html.Raw(Model.ContentHtml())
    </p>
        @if(config.ShowComments)
        {
            if (Model.Comment != null && Model.Comment.Count > 0)
            {
                <h3>Comments(@Model.Comment.Count)</h3>
                foreach (WebTest.Comment c in Model.Comment)
                {
                    <hr />
                    <p>@c.Name, @c.Created</p>
                    <p>@c.Content</p>
                }
            }

            if (config.AllowWriteComments)
            {
                <h3>Post comment</h3>
                <div>
                    <span>Your name: <input type="text" id="comment_name" /></span>
                    <textarea spellcheck="false" style="width:100%;min-height:80pt" id="comment_text"></textarea>
                    <a href="javascript:post_comment('@Model.Id')" class="btn btn-primary">Submit</a>
                </div>
            }
        }
	</div>
