<table>
  <% this.forEach(function(row){ %>
	<tr>
    <td>
      <input class="delete" id="<%= row.Id %>" type="checkbox"/>
    </td>
		<td>
      <a href="javascript:article_add_text('![<%= function() {if(row.MimeType.substring(0,5) == 'video'){return "video";} else {return "";}}() %>](/Image/<%= row.Id %>)')">![<%= function() {if(row.MimeType.substring(0,5) == 'video'){return "video";} else {return "";}}() %>](/Image/<%= row.Id %>)</a>
    </td>
    <td>
      <%= row.FileName %>
    </td>
    <td>
      <a target="_blank" href="/Image/<%= row.Id %>"><img src="/Image/<%= row.Id %>?thumb"/></a>
    </td>
	</tr>
  <% }) %>
</table>