<table>
  <% this.forEach(function(row){ %>
	<tr>
    <td>
      <a target="_blank" href="/image/<%= row.Id %>"><img src="/image/<%= row.Id %>!thumb.jpg"/>
      </a>
    </td>
		<td>
      <a href="javascript:article_add_text('![<%= function() {if(row.MimeType.substring(0,5) == 'video'){return "video";} else {return "";}}() %>](/image/<%= row.Id %>.<%= row.MimeType.split('/')[1].replace('jpeg','jpg') %>)')">![<%= function() {if(row.MimeType.substring(0,5) == 'video'){return "video";} else {return "";}}() %>](/image/<%= row.Id %>.<%= row.MimeType.split('/')[1].replace('jpeg','jpg') %>)</a>
    </td>
    <td>
      <%= row.FileName %>
    </td>
    <td>
      <a href="javascript:delete_image('<%= row.Id %>')">
        delete
      </a>
    </td>
	</tr>
  <% }) %>
</table>