<% this.forEach(function(row){ %>
	<div>
		<h1>
      <a href="?article=<%= row.Id %>"><%= row.Title %></a>
    </h1>
		<p><%= row.AuthorName %>, <%= row.Created %>, [<%= function(){if(row.Category){return row.Category.map(function(x){return x.Name}).join();}else{return "";}}() %>]
  </p>
    <p>
      <%= row.Content %>
    </p>
	</div>
<% }) %>